h1 {
    font-style:  italic;
    text-decoration:  underline;
    color: rgb(243, 243, 243);
}

#HeaderBG {
    background-color: rgb(85, 24, 0);
    display: flex;
    flex-direction: column;
}

#BodyBG {
    background-color: rgba(65, 20, 0, 0.808);
}

#PuddingBG {
    background-color: rgb(255, 215, 166);
    display: flex;
    flex-direction: column;
    
}

h2 {
    color: black;
}