html {
    background-color: #e1ffbf;
    margin: 0;
    padding: 0;
    cursor: url('https://cur.cursors-4u.net/food/foo-7/foo619.cur'), pointer;
}

h1 {
    color: rgb(97, 126, 50);
    text-decoration:underline;
}
p {
    text-align: center;
    font: italic small-caps bold 1em/180% Times;

}

.H {
    color: rgb(189, 63, 140);
    text-decoration:underline;
}
