html {
    background-color: rgb(214, 208, 208);
    margin: 0;
    padding: 0;
    cursor: url('xx.png'), pointer;
}

h1 {
    font-size: 80px;
    color: rgb(191, 15, 207);
    text-decoration:underline;
    text-align: center;
}

h2 {
    color: rgb(238, 105, 187);
    text-align: center;
}

p {
    font: italic small-caps bold 1em/100% Times;
}

#l1 {
    color: rgb(128, 119, 255);
}
.l2 {
    text-decoration:underline violet;
    color: violet;
   
}