html {
    background-color: rgb(63, 63, 63);
    margin: 0;
    padding: 0;
    cursor: url('xx.png'), pointer;
}
.Table {
    color: snow;
    background-color: rgb(253, 108, 71);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    width: 30%;
    cursor: url('https://cur.cursors-4u.net/food/foo-7/foo619.cur'), pointer;
}
table,td,th {
    border: 1px solid;
    color: rgb(247, 234, 234);
    text-align: center;
}
#l2 {
    color: rgb(255, 31, 31);
    text-align: center;
}
#t2{
    background-color: rgb(255, 252, 77);
    color: black;
    text-align: center;
}
#t3{
    background-color: rgb(255, 252, 77);
    color: black;
    text-align: center;
}
#t5{
    background-color: rgb(231, 39, 190);
    color: black;
    text-align: center;
}
#t6{
    background-color: rgb(71, 231, 39);
    color: black;
    text-align: center;
}
#t7{
    background-color: rgb(255, 100, 28);
    color: black;
    text-align: center;
}
#t8{
    background-color: rgb(41, 241, 208);
    color: black;
    text-align: center;
}
#t9{
    background-color: rgb(194, 41, 241);
    color: black;
    text-align: center;
}
#t10{
    background-color: rgb(255, 43, 78);
    color: black;
    text-align: center;
}

