h1{
    background-color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(192, 48, 48);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
}

#BG{
    background-color: rgb(252, 164, 164);
    display: flex;
    flex-direction: column;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    background-color: rgb(255, 104, 104);
    color: rgb(255, 255, 255);
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}